<form id="cadastroEstabelecimentoZoop" class="cadastrar-estabelecimento-zoop" action="" method="post">
    <input type="text" name="identificador" id="identificador" placeholder="Identificador">
    <input type="text" name="nome" id="nome" placeholder="Nome">
    <input type="text" name="cnpj" id="cnpj" placeholder="Cnpj">
    <select class="" name="tipo" id="tipo">
        <option value="" disabled selected>Selecione uma conta</option>
        <option value="1">Zoop</option>
        <option value="2">Sumcred</option>
    </select>
</form>