<form id="cadastro-estabelecimento-use" class="cadastrar-estabelecimento-use" action="" method="post">
    <input type="text" name="identificador" id="identificador-use" placeholder="Identificador">
    <input type="text" name="nome" id="nome-use" placeholder="Nome">
    <input type="text" name="cnpj" id="cnpj-use" placeholder="Cnpj">
    <input type="text" name="chave" id="chave-use" placeholder="Chave">
</form>
