<form id="cadastroEstabelecimentoUse" class="cadastrar-estabelecimento-use" action="" method="post">
    <input type="text" name="identificador" id="identificador" placeholder="Identificador">
    <input type="text" name="nome" id="nome" placeholder="Nome">
    <input type="text" name="cnpj" id="cnpj" placeholder="Cnpj">
    <input type="text" name="chave" id="chave" placeholder="Chave">
</form>