<form id="cadastro-estabelecimento-zoop" class="cadastrar-estabelecimento-zoop" action="" method="post">
    <input type="text" name="identificador" id="identificador-zoop" placeholder="Identificador">
    <input type="text" name="nome" id="nome-zoop" placeholder="Nome">
    <input type="text" name="cnpj" id="cnpj-zoop" placeholder="Cnpj">
    <select class="" name="tipo" id="tipo-zoop">
        <option value="" disabled selected>Selecione uma conta</option>
        <option value="1">ZOOP</option>
        <option value="2">SUMCRED</option>
    </select>
</form>