<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerencial Financeiro</title>
    <link rel="stylesheet" href="style/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/30a0b5289d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <h2>Login</h2>
        <form action="api/usuario/login" method="POST">
            <input type="text" name="cpf" id="cpf" placeholder="Cpf" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <input type="submit" value="Entrar">
        </form>
    </div>

    <!-- Biblioteca Inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script>
        // Aplicar máscara de CPF ao campo de CPF
         $(document).ready(function() {
             $('#cpf').inputmask('999.999.999-99', { placeholder: '___.___.___-__' });
         });
    </script>
</body>

</html>